.container{
  width: 600px;
  height: 900px;
  background-color:      #e1fcf7     ;

}
body{
background-color:   #919694 ;
}
h3{
   font: 25px Copperplate;
}
h6{
  text-align: center;
}



button{
  text-align: center;
}
input[type=reset] {
  height: 20px;
  border: 4px solid  #2e4053 ;
  border-radius: 4px;
  background-color:  #d4e6f1 ;
}
#a{
  text-align: center;
}
label{
  color:  #5b7368 ;
  font-style :normal;
  
}
p{
  text-align: center;
}
